<%= simple_form_for(resource, as: resource_name,
  url: password_path(resource_name),
  html: { method: :post, class: 'form-signin' }) do |f| %>
  <%= f.error_notification %>

  <h2 class="form-signin-heading">Esqueceu sua senha?</h2>

  <%= bootstrap_flash %>

  <%= f.input :email, required: true, label: false, autofocus: true,
    placeholder: 'E-mail', input_html: { class: 'input-block-level' } %>

  <hr />

  <div class="actions">
    <%= f.button :submit, 'Enviar instruções',
      class: 'btn-large btn-primary btn-peach' %>

    <%= render :partial => 'devise/shared/links' %>
  </div>
<% end %>
