<p>
  <a id="app-update-vals-btn"
    class="btn btn-large btn-block btn-primary <%= 'disabled'.html_safe if form.object.maintenance %>"
    href="javascript: void(0);">
    <%= form.object.maintenance ? 'Executando...' : 'Atualizar dados complementares' %>
  </a>
</p>

<script type="text/javascript">
    $('#app-update-vals-btn').click(function () {
      var $btn = $(this);

      if (! $btn.hasClass('disabled')) {
        $.ajax('/update_vals', {
          type: 'GET', beforeSend: function () { $btn.addClass('disabled'); }
        });

        $btn.addClass('disabled').text('Executando...');
      }
    });
</script>
