<% unless @last_edition.nil? %>

  <%
    values = @last_edition.values.order('total DESC').limit(10)
    brazil = values.where(country_id: Country.where(code: 'BR').first).first
  %>

  <div class="qbox" id="app-top-10-box">
    <h3>Top 10 países mais livres e o Brasil</h3>

    <ul class="app-ranking">
      <% values.each.with_index do |v, i| %>

        <li class="app-elem row-fluid">
	        <div class="span2 app-pos"><span><%= i + 1 %>º</span></div>

	        <h4 class="span8"><%= link_to v.country.name,
	          country_path(v.country.name.parameterize) %></h4>

          <% unless v.total.nil? %>
	          <div class="span2 app-total">
	            <strong><%= v.total.round(2) %></strong>
	          </div>
	        <% end %>
        </li>

      <% end %>

      <% unless brazil.nil? %>
        <li class="app-elem row-fluid app-brazil">
	        <div class="span2 app-pos">
	          <%= @countries_ranking.index(brazil.country) + 1 %>º
	        </div>

	        <h4 class="span8"><%= link_to brazil.country.name,
	          country_path(brazil.country.name.parameterize) %></h4>

          <% unless brazil.total.nil? %>
	          <div class="span2 app-total">
	            <strong><%= brazil.total.round(2) %></strong>
	          </div>
	        <% end %>
        </li>
      <% end %>
    </ul>

  </div>

<% end %>
