<%= content_for :page_title do "#{@country1.name} vs. #{@country2.name}" end %>
<%= content_for :page_id do 'comparate' end %>

<% og_title = "Índice de Liberdade Econômica - #{@country1.name} vs. #{@country2.name}" %>

<%= content_for :og do %>
  <%
    metas = [
      ['og:type',            'article'],
      ['og:title',           og_title],
      ['og:site_name',       'Índice de Liberdade Econômica'],
      ['og:description',     configuration.description],
      ['og:url',             request.url],
      ['og:image',           URI.join(root_url, '/assets/facebook_logo.png')],
      ['fb:app_id',          configuration.facebook_app_id]
    ]
  %>
  <% metas.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% end %>
<% end %>

<%
  total1 = @last_edition.values.where(country_id: @country1.id).first
  total1 = total1.total unless total1.nil?

  total2 = @last_edition.values.where(country_id: @country2.id).first
  total2 = total2.total unless total2.nil?
%>

<div id="app-top-highlight">
  <%= render partial: 'comparate_box' %>
</div>

<div id="app-country-title">

  <div class="row-fluid">
    <h2 class="<%= @country1.situation(@last_edition).html_safe %> span5 title1">
      <%= @country1.name %>
    </h2>

    <p class="span2">Vs.</p>

    <h2 class="<%= @country2.situation(@last_edition).html_safe %> span5 title2">
      <%= @country2.name %>
    </h2>
  </div>

</div>

<div class="app-share">
  <span><i class="icon-plus-sign-alt"></i></span>
  <a href="#" class="facebook app-tooltip"
     data-toggle="tooltip"
     data-placement="right"
     title="Compartilhe no Facebook"
     onclick="
      window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
        'facebook-share-dialog',
        'width=626,height=436');
      return false;">
    <i class="icon-facebook"></i>
  </a>

  <a href="#" class="twitter app-tooltip"
     data-toggle="tooltip"
     data-placement="right"
     title="Compartilhe no Twitter"
     onclick="
      window.open(
        'https://twitter.com/intent/tweet?text=' +
          encodeURIComponent('<%= og_title %>') +
            '&url=' + encodeURIComponent(location.href),
        'twitter-share-dialog',
        'width=626,height=436');
      return false;">
    <i class="icon-twitter"></i>
  </a>
</div>

<div id="app-country-info">
  <div class="row-fluid">

    <div class="span6 info1">
      <p class="country-position <%= @country1.situation(@last_edition).html_safe %>">
        <span>Posição</span>

        <strong><%= @countries_ranking.index(@country1) + 1 %></strong>

        <% unless total1.nil? %>
          <span><%= total1 %><br />
            <em>Pontuação global</em>
          </span>
        <% end %>
      </p>

      <p class="country-thumbnail">
      <%= image_tag("/assets/cities/#{@country1.code.downcase}.png",
        size: '221x150', class: 'thumbnail',
        alt: @country1.name) %>
      </p>

      <% unless @country1.description.blank? %>
        <div class="app-country-description">
          <%= simple_format(@country1.description) %>
        </div>
      <% end %>
    </div>

    <div class="span6 info2">
      <p class="country-position <%= @country2.situation(@last_edition).html_safe %>">
        <span>Posição</span>

        <strong><%= @countries_ranking.index(@country2) + 1 %></strong>

        <% unless total2.nil? %>
          <span><%= total2 %><br />
            <em>Pontuação global</em>
          </span>
        <% end %>
      </p>

      <p class="country-thumbnail">
      <%= image_tag("/assets/cities/#{@country2.code.downcase}.png",
        size: '221x150', class: 'thumbnail',
        alt: @country2.name) %>
      </p>

      <% unless @country2.description.blank? %>
        <div class="app-country-description pull-right">
          <%= simple_format(@country2.description) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="country-graph"></div>
</div>

<div id="app-country-index-detail">
  <div class="row-fluid">

    <div class="span5">
      <h2>Indicadores</h2>

      <div id="app-index-categories-tree">
        <%= generate_categories_list (nodes = @last_edition.create_nodes(false)),
          'normal', @country1.id, @country2.id, nodes[0].keys.first[1] %>
      </div>

      <div id="app-index-categories-footer"></div>
    </div>

    <div class="span7" id="app-index-graph-region">
      <h2>Evolução</h2>

      <div id="app-index-graph">
      </div>

    </div>

  </div>
</div>

<%= content_for :scripts do %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">

    $(function () {
      $('#app-country-info .country-graph').highcharts({
        chart: { type: 'line', zoomType: 'xy' },
        title: { text: null },
        xAxis: {
          categories: [ <%= (@editions.collect { |e| e.name } * ',').
            html_safe %> ]
        },
        yAxis: {
          title: { text: null },
          min: 0, max: 10,
          plotLines: [{ value: 0, width: 1, color: '#fff' }]
        },
        plotOptions: {
          line: { dataLabels: { enabled: false } }
        },
        series: [{
          color: '#66a620',
          name: '<%= escape_javascript(@country1.name) %>',
          data: [ <%= (@editions.collect do |e|
            (! (value = e.values.where(country_id: @country1.id).first).
              nil? && ! value.total.nil?) ? value.total : 'null'
          end * ',').html_safe %> ]
        }, {
          color: '#3465a4',
          name: '<%= escape_javascript(@country2.name) %>',
          data: [ <%= (@editions.collect do |e|
            (! (value = e.values.where(country_id: @country2.id).first).
              nil? && ! value.total.nil?) ? value.total : 'null'
          end * ',').html_safe %> ]
        }, {
          color: '#f57900',
          name: 'Média global',
          data: [ <%= (@editions.collect do |e|
            e.total_sum.nil? ? 'null' : (e.total_sum / Country.count).round(2)
          end * ',').html_safe %> ]
        }]
      });
    });

    $('#app-index-categories-tree > ul > li:first-child > a').click();
  </script>

<% end %>
