<div id="main_content" class="contact_page">
  <%= content_tag(:p, notice, class: 'notice') if notice %>

  <%= simple_form_for(@contact_form, url: send_contact_path) do |f| %>
    <div class="inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :message, as: :text %>
    <div>

    <div class="actions">
      <%= f.button :submit, 'Enviar mensagem' %>
    </div>
  <% end %>
</div>
