<%= content_for :page_title do @country.name end %>
<%= content_for :page_id do 'country' end %>

<%
  country_ranking = @countries_ranking.index(@country) + 1

  total = @last_edition.values.where(country_id: @country.id).first
  total = total.total unless total.nil?

  elem_class = @country.situation(@last_edition).html_safe
%>

<% og_description = "#{@country.name} está na posição #{country_ranking} de #{@countries_ranking.count} na edição #{@last_edition.name} do Índice de Liberdade Econômica." %>

<%= content_for :og do %>
  <%
    metas = [
      ['og:type',            'article'],
      ['og:title',           "Índice de Liberdade Econômica - #{@country.name}"],
      ['og:site_name',       'Índice de Liberdade Econômica'],
      ['og:description',     og_description],
      ['og:url',             request.url],
      ['og:image',           URI.join(root_url, "/assets/cities/#{@country.code.downcase}.png")],
      ['fb:app_id',          configuration.facebook_app_id]
    ]
  %>
  <% metas.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% end %>
<% end %>

<div id="app-top-highlight">
  <%= render partial: 'comparate_box' %>
</div>

<div id="app-country-title">
  <h2 class="<%= elem_class %>"><%= @country.name %></h2>
</div>

<div class="app-share">
  <span><i class="icon-plus-sign-alt"></i></span>
  <a href="#" class="facebook app-tooltip"
     data-toggle="tooltip"
     data-placement="right"
     title="Compartilhe no Facebook"
     onclick="
      window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
        'facebook-share-dialog',
        'width=626,height=436');
      return false;">
    <i class="icon-facebook"></i>
  </a>

  <a href="#" class="twitter app-tooltip"
     data-toggle="tooltip"
     data-placement="right"
     title="Compartilhe no Twitter"
     onclick="
      window.open(
        'https://twitter.com/intent/tweet?text=' +
          encodeURIComponent('<%= og_description %>') +
            '&url=' + encodeURIComponent(location.href),
        'twitter-share-dialog',
        'width=626,height=436');
      return false;">
    <i class="icon-twitter"></i>
  </a>
</div>

<div id="app-country-info">
  <div class="row-fluid">

    <p class="country-position span2 <%= elem_class %>">
      <span>Posição</span>

      <strong><%= country_ranking %></strong>

      <% unless total.nil? %>
        <span><%= total %><br />
          <em>Pontuação global</em>
        </span>
      <% end %>
    </p>

    <p class="country-thumbnail span3">
      <%= image_tag("/assets/cities/#{@country.code.downcase}.png",
        size: '221x150', class: 'thumbnail',
        alt: @country.name) %>
    </p>

    <div class="country-graph span7">

    </div>

  </div>

  <% unless @country.description.blank? %>
    <div class="app-country-description">
      <%= simple_format(@country.description) %>
    </div>
  <% end %>
</div>

<div id="app-country-index-detail">
  <div class="row-fluid">

    <div class="span5">
      <h2>Indicadores</h2>

      <div id="app-index-categories-tree" class="<%= elem_class %>">
        <%= generate_categories_list (nodes = @last_edition.create_nodes(false)),
          'normal', @country.id, nil, nodes[0].keys.first[1] %>
      </div>

      <div id="app-index-categories-footer"></div>
    </div>

    <div class="span7" id="app-index-graph-region">
      <h2>Evolução</h2>

      <div id="app-index-graph">
      </div>
    </div>

  </div>
</div>

<%= content_for :scripts do %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">

    $(function () {
      $('#app-country-info .country-graph').highcharts({
        chart: { type: 'line', zoomType: 'xy' },
        title: { text: null },
        xAxis: {
          categories: [ <%= (@editions.collect { |e| e.name } * ',').
            html_safe %> ]
        },
        yAxis: {
          title: { text: null },
          min: 0, max: 10,
          plotLines: [{ value: 0, width: 1, color: '#fff' }]
        },
        plotOptions: {
          line: { dataLabels: { enabled: false } }
        },
        series: [{
          color: '#66a620',
          name: '<%= escape_javascript(@country.name) %>',
          data: [ <%= (@editions.collect do |e|
            (! (value = e.values.where(country_id: @country.id).first).
              nil? && ! value.total.nil?) ? value.total : 'null'
          end * ',').html_safe %> ]
        }, {
          color: '#c17d11',
          name: 'Média global',
          data: [ <%= (@editions.collect do |e|
            e.total_sum.nil? ? 'null' : (e.total_sum / Country.count).round(2)
          end * ',').html_safe %> ]
        }]
      });
    });

    $('#app-index-categories-tree > ul > li:first-child > a').click();
  </script>

<% end %>
