<%= content_for :page_title do 'Explore os dados' end %>
<%= content_for :page_id do 'data' end %>

<%= content_for :og do %>
  <%
    metas = [
      ['og:type',            'article'],
      ['og:title',           'Índice de Liberdade Econômica - Explore os dados'],
      ['og:site_name',       'Índice de Liberdade Econômica'],
      ['og:description',     configuration.description],
      ['og:url',             request.url],
      ['og:image',           URI.join(root_url, '/assets/facebook_logo.png')],
      ['fb:app_id',          configuration.facebook_app_id]
    ]
  %>
  <% metas.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% end %>
<% end %>


<div id="app-country-index-detail">
  <div class="row-fluid">

    <div class="span5">
      <h2>Regiões/Blocos de interesse</h2>

      <div id="app-index-labels">
        <ul>
          <% Label.all.each do |l| %>
            <li data-id="<%= l.id %>"><%= l.name %></li>
          <% end %>
        </ul>
      </div>

      <h2>Indicadores</h2>

      <div id="app-index-categories-tree">
        <a href="#" style="display:none;" id="link_graph_aux" data-remote="true"></a>

        <%= generate_categories_list (nodes = @last_edition.create_nodes(false)),
          nil, nil, nodes[0].keys.first[1] %>
      </div>

      <div id="app-index-categories-footer"></div>
    </div>

    <div class="span7" id="app-index-graph-region">
      <h2>Evolução</h2>

      <div id="app-index-graph">
      </div>
    </div>

  </div>
</div>

<%= content_for :scripts do %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
    $('#app-index-categories-tree > ul > li:first-child > a').click();
  </script>
<% end %>
