$('#app-index-graph').highcharts({
  chart: { type: 'line', zoomType: 'xy' },
  title: { text: null },
  xAxis: {
    categories: [ <%= (@editions.collect { |e| e.name } * ',').
      html_safe %> ]
  },
  yAxis: {
    title: { text: null },
    min: 0, max: 10,
    plotLines: [{ value: 0, width: 1, color: '#fff' }]
  },
  plotOptions: {
    line: { dataLabels: { enabled: false } }
  }, series: [
    <% unless params[:label].nil? %>
      <% params[:label].each do |l| %>
        <% label = Label.find(l) %>

        {
          name: '<%= escape_javascript(label.name) %>',
          data: [ <%= (@editions.collect do |e|
            (value = e.values_labels_sum.where(label_id: l).first).
              nil? ? 'null' : (value.sum / label.countries.count).round(2)
          end * ',').html_safe %> ]
        },
      <% end %>
    <% end %>

    {
      color: '#66a620',
      name: '<%= escape_javascript(@category.name) %>',
      data: [ <%= (@editions.collect do |e|
        (value = e.values_sum.where(category_id: params[:category]).first).
          nil? ? 'null' : (value.sum / Country.count).round(2)
      end * ',').html_safe %> ]
    }, {
      color: '#c17d11',
      name: 'Média global',
      data: [ <%= (@editions.collect do |e|
        (value = e.total_sum).nil? ? 'null': (value / Country.count).round(2)
      end * ',').html_safe %> ]
    }
  ]
});

$('#app-index-categories-tree ul li').removeClass('active');
$('#app-index-categories-tree li[data-id="<%= @category.id %>"]').
  addClass('active');
