<%= content_for :page_title do 'Principal' end %>
<%= content_for :page_id do 'home' end %>

<ul id="app-map-editions">
  <% @editions.each do |e| %>
    <li data-id="<%= e.id %>">
      <%= link_to e.name, change_map_path(e.id), remote: true %>
    </li>
  <% end %>
</ul>

<div id="map">
</div>

<div class="row-fluid" id="app-map-colors-degree">
  <p class="span6">Menos livres</p>
  <p class="span6">Mais livres</p>
</div>

<div class="body-text">

  <div class="container-fluid">

    <div class="row-fluid">

			<!--west pane span9-->
			<div class="span9">
				<div class="row-fluid">
					<h1>Os campeões de liberdade</h1>
				</div>

        <div class="row-fluid hotproperties">

          <% @values.limit(3).each.with_index do |v, i| %>
            <div class="span4 set-equal-heights-js freer">
              <div class="thumbnail">
                <%= link_to image_tag("/assets/cities/#{v.country.code.downcase}.png",
                  size: '221x150', class: 'thumbnail',
                  alt: v.country.name),
                  country_path(v.country.name.parameterize) %>

                <div class="caption">
                  <%= link_to v.country.name,
                    country_path(v.country.name.parameterize),
                    class: 'prop-title', title: v.country.name %>

								  <p class="app-home-ranking-detail">
                    <strong><%= i + 1 %>º</strong>
                    <strong>
                      <%= v.total.round(2) %><em>pontuação global</em>
                    </strong>

                    <%
                      old_val = @penultimate_edition_values.
                        where(country_id: v.country.id).first
                      old_pos = @penultimate_countries_ranking.index(v.country)

                      val_variation = v.total - old_val.total unless old_val.nil?
                      pos_variation = old_pos - i unless old_pos.nil?
                    %>

                    <strong>
                      <% unless val_variation.nil? %>
                        <% if val_variation < 0 %>
                          <i class="icon-chevron-down"></i>
                          <%= val_variation.round(2).abs %>
                        <% elsif val_variation > 0 %>
                          <i class="icon-chevron-up"></i>
                          <%= val_variation.round(2).abs %>
                        <% end %>
                      <% end %>
                      <br />
                      <% unless pos_variation.nil? %>
                        <% if pos_variation < 0 %>
                          <i class="icon-chevron-down"></i>
                          <%= pos_variation.abs %>
                        <% elsif pos_variation > 0 %>
                          <i class="icon-chevron-up"></i>
                          <%= pos_variation.abs %>
                        <% end %>
                      <% end %>
                    </strong>
								  </p>

                  <ul class="list-btns">
                    <li>
                      <a href="<%= country_path(v.country.name.parameterize) %>">
                        <i class="icon-info-sign"></i>Detalhes</a>
                    </li>
                  </ul>
							  </div>
              </div>
            </div>
          <% end %>

        </div>

			</div><!--end of west pane span9-->

			<!-- east pane with width of span3 -->
			<div class="span3">
			  <% unless configuration.freedom_val.blank? %>
			    <p id="app-freedom-value-box">
			      <strong>9.22</strong>
			      <span>é quão economicamente livre o mundo se encontra.</span>
			    </p>
			  <% end %>

		    <% unless @countries_ranking.empty? %>
          <%= render partial: 'comparate_box' %>
        <% end %>
			</div>
			<!-- end of span3 -->

		</div>
	</div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    $('#app-map-editions > li:last a').click();
  </script>
<% end %>
