<%= content_for :page_title do 'Ranking' end %>
<%= content_for :page_id do 'ranking' end %>

<%= content_for :og do %>
  <%
    metas = [
      ['og:type',            'article'],
      ['og:title',           "Índice de Liberdade Econômica - Ranking"],
      ['og:site_name',       'Índice de Liberdade Econômica'],
      ['og:description',     configuration.description],
      ['og:url',             request.url],
      ['og:image',           URI.join(root_url, '/assets/facebook_logo.png')],
      ['fb:app_id',          configuration.facebook_app_id]
    ]
  %>
  <% metas.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% end %>
<% end %>

<% n = 0 %>

<div id="app-top-highlight">
  <%= render partial: 'comparate_box' %>
</div>

<div id="app-map-editions">
  <h3>Edições</h3>

  <ul>
    <% @editions.each do |e| %>
      <li data-id="<%= e.id %>" <%= 'class="active"'.html_safe if @edition == e %>>
        <%= link_to e.name, ranking_path(e.name.parameterize) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="body-text">
  <h1 class="app-title">Ranking dos países</h1>

  <% free = @values.where('total <= 10.0 AND total >= 8.0') %>

  <h2 class="app-title free">
    <strong>Livres</strong>
    <em>(10 - 8)</em>
  </h2>

  <div class="app-ranking">
    <% free.each do |v| %>
      <%
        old_val = @penultimate_edition_values.where(country_id: v.country.id)

        unless @penultimate_countries_ranking.nil?
          old_pos = @penultimate_countries_ranking.index(v.country)
        end

        unless old_val.empty?
          old_val = old_val.first
          val_variation = v.total - old_val.total unless v.total.nil? && old_val.total.nil?
        end

        pos_variation = old_pos - n unless old_pos.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= n += 1 %>º</div>

	      <div class="span9">
		      <h3><%= link_to v.country.name,
		        country_path(v.country.name.parameterize) %></h3>

          <% unless v.total.nil? %>
		        <p>
		          <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

              <% unless val_variation.nil? %>
                <% if val_variation < 0 %>
                  <small>Variação no índice: <i class="icon-chevron-down"></i>
                  <%= val_variation.round(2).abs %></small>
                <% elsif val_variation > 0 %>
                  <small>Variação no índice: <i class="icon-chevron-up"></i>
                  <%= val_variation.round(2).abs %></small>
                <% end %>
              <% end %>

              <% unless pos_variation.nil? %>
                <% if pos_variation < 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-down"></i>
                  <%= pos_variation.abs %></small>
                <% elsif pos_variation > 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-up"></i>
                  <%= pos_variation.abs %></small>
                <% end %>
              <% end %>
		        </p>
		      <% else %>
            <p>Não há informações disponíveis</p>
		      <% end %>

	      </div>
      </div>
    <% end %>
  </div>

  <% mostly_free = @values.where('total < 8.0 AND total >= 7.0') %>

  <h2 class="app-title mostly-free">
    <strong>Majoritariamente livres</strong>
    <em>(7.9 - 7)</em>
  </h2>

  <div class="app-ranking">
    <% mostly_free.each do |v| %>
      <%
        old_val = @penultimate_edition_values.where(country_id: v.country.id)

        unless @penultimate_countries_ranking.nil?
          old_pos = @penultimate_countries_ranking.index(v.country)
        end

        unless old_val.empty?
          old_val = old_val.first
          val_variation = v.total - old_val.total unless v.total.nil? && old_val.total.nil?
        end

        pos_variation = old_pos - n unless old_pos.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= n += 1 %>º</div>

	      <div class="span9">
		      <h3><%= link_to v.country.name,
		        country_path(v.country.name.parameterize) %></h3>

          <% unless v.total.nil? %>
		        <p>
		          <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

              <% unless val_variation.nil? %>
                <% if val_variation < 0 %>
                  <small>Variação no índice: <i class="icon-chevron-down"></i>
                  <%= val_variation.round(2).abs %></small>
                <% elsif val_variation > 0 %>
                  <small>Variação no índice: <i class="icon-chevron-up"></i>
                  <%= val_variation.round(2).abs %></small>
                <% end %>
              <% end %>

              <% unless pos_variation.nil? %>
                <% if pos_variation < 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-down"></i>
                  <%= pos_variation.abs %></small>
                <% elsif pos_variation > 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-up"></i>
                  <%= pos_variation.abs %></small>
                <% end %>
              <% end %>
		        </p>
		      <% else %>
            <p>Não há informações disponíveis</p>
		      <% end %>

	      </div>
      </div>
    <% end %>
  </div>

  <% moderately_free = @values.where('total < 7.0 AND total >= 6.0') %>

  <h2 class="app-title moderately-free">
    <strong>Moderadamente livres</strong>
    <em>(6.9 - 6)</em>
  </h2>

  <div class="app-ranking">
    <% moderately_free.each do |v| %>
      <%
        old_val = @penultimate_edition_values.where(country_id: v.country.id)

        unless @penultimate_countries_ranking.nil?
          old_pos = @penultimate_countries_ranking.index(v.country)
        end

        unless old_val.empty?
          old_val = old_val.first
          val_variation = v.total - old_val.total unless v.total.nil? && old_val.total.nil?
        end

        pos_variation = old_pos - n unless old_pos.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= n += 1 %>º</div>

	      <div class="span9">
		      <h3><%= link_to v.country.name,
		        country_path(v.country.name.parameterize) %></h3>

          <% unless v.total.nil? %>
		        <p>
		          <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

              <% unless val_variation.nil? %>
                <% if val_variation < 0 %>
                  <small>Variação no índice: <i class="icon-chevron-down"></i>
                  <%= val_variation.round(2).abs %></small>
                <% elsif val_variation > 0 %>
                  <small>Variação no índice: <i class="icon-chevron-up"></i>
                  <%= val_variation.round(2).abs %></small>
                <% end %>
              <% end %>

              <% unless pos_variation.nil? %>
                <% if pos_variation < 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-down"></i>
                  <%= pos_variation.abs %></small>
                <% elsif pos_variation > 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-up"></i>
                  <%= pos_variation.abs %></small>
                <% end %>
              <% end %>
		        </p>
		      <% else %>
            <p>Não há informações disponíveis</p>
		      <% end %>

	      </div>
      </div>
    <% end %>
  </div>

  <% mostly_unfree = @values.where('total < 6.0 AND total >= 5.0') %>

  <h2 class="app-title mostly-unfree">
    <strong>Majoritariamente não livres</strong>
    <em>(5.9 - 5)</em>
  </h2>

  <div class="app-ranking">
    <% mostly_unfree.each do |v| %>
      <%
        old_val = @penultimate_edition_values.where(country_id: v.country.id)

        unless @penultimate_countries_ranking.nil?
          old_pos = @penultimate_countries_ranking.index(v.country)
        end

        unless old_val.empty?
          old_val = old_val.first
          val_variation = v.total - old_val.total unless v.total.nil? && old_val.total.nil?
        end

        pos_variation = old_pos - n unless old_pos.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= n += 1 %>º</div>

	      <div class="span9">
		      <h3><%= link_to v.country.name,
		        country_path(v.country.name.parameterize) %></h3>

          <% unless v.total.nil? %>
		        <p>
		          <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

              <% unless val_variation.nil? %>
                <% if val_variation < 0 %>
                  <small>Variação no índice: <i class="icon-chevron-down"></i>
                  <%= val_variation.round(2).abs %></small>
                <% elsif val_variation > 0 %>
                  <small>Variação no índice: <i class="icon-chevron-up"></i>
                  <%= val_variation.round(2).abs %></small>
                <% end %>
              <% end %>

              <% unless pos_variation.nil? %>
                <% if pos_variation < 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-down"></i>
                  <%= pos_variation.abs %></small>
                <% elsif pos_variation > 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-up"></i>
                  <%= pos_variation.abs %></small>
                <% end %>
              <% end %>
		        </p>
		      <% else %>
            <p>Não há informações disponíveis</p>
		      <% end %>

	      </div>
      </div>
    <% end %>
  </div>

  <% unfree = @values.where('total < 5 AND total >= 0.0') %>

  <h2 class="app-title unfree">
    <strong>Não livres</strong>
    <em>(4.9 - 0)</em>
  </h2>

  <div class="app-ranking">
    <% unfree.each do |v| %>
      <%
        old_val = @penultimate_edition_values.where(country_id: v.country.id)

        unless @penultimate_countries_ranking.nil?
          old_pos = @penultimate_countries_ranking.index(v.country)
        end

        unless old_val.empty?
          old_val = old_val.first
          val_variation = v.total - old_val.total unless v.total.nil? && old_val.total.nil?
        end

        pos_variation = old_pos - n unless old_pos.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= n += 1 %>º</div>

	      <div class="span9">
		      <h3><%= link_to v.country.name,
		        country_path(v.country.name.parameterize) %></h3>

          <% unless v.total.nil? %>
		        <p>
		          <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

              <% unless val_variation.nil? %>
                <% if val_variation < 0 %>
                  <small>Variação no índice: <i class="icon-chevron-down"></i>
                  <%= val_variation.round(2).abs %></small>
                <% elsif val_variation > 0 %>
                  <small>Variação no índice: <i class="icon-chevron-up"></i>
                  <%= val_variation.round(2).abs %></small>
                <% end %>
              <% end %>

              <% unless pos_variation.nil? %>
                <% if pos_variation < 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-down"></i>
                  <%= pos_variation.abs %></small>
                <% elsif pos_variation > 0 %>
                  <small>Variação no ranking: <i class="icon-chevron-up"></i>
                  <%= pos_variation.abs %></small>
                <% end %>
              <% end %>
		        </p>
		      <% else %>
            <p>Não há informações disponíveis</p>
		      <% end %>

	      </div>
      </div>
    <% end %>
  </div>

</div>
